<script>
    function Logout() {
        $.ajax({
            url: '@Url.Action("Logoff", "Account")',
            type: 'POST',
            data: {},
            success: function (data) {
                window.location.href = '@Url.Action("Login", "Account")';
            }
        });
    }


</script>

<nav class="main-menu">
    <ul>
       
    </ul>

    <ul class="logout">
        <li>
            <a onclick="Logout()">
                <img src="~/images/logout.png" class="fa">
                <span class="nav-text">
                    Logout
                </span>
            </a>
        </li>
    </ul>
</nav>
