@{

}


<div id="instructionModal" class="container" style="padding-left: 80px; outline: none;">
    <div class="instruction-card">
        <img src="~/images/Asset1.png" class="instuction-img">
        <p>Welcome to the ZAX Herbivory Trainer. This free app is designed to train researchers and students to visually estimate herbivory accurately. Visually estimating herbivory is advantageous to those: in the field, under time restrictions and sampling large volumes of leaves. </p>

    </div>

    <div class="instruction-card">
        <img src="~/images/Asset2.png" class="instuction-img">
        <p>To use this app and be trained successfully, you will estimate the amount of leaf damage on randomised images of leaves using the slider tool under the image. Answers range from 0% leaf damage to 100% leaf damage. After submitting your estimate, the correct answer will be displayed. Estimates that are within 0-1% of the actual answer are considered accurate (e.g. if the true answer is 5%, estimates of 4, 5 & 6% are considered accurate). </p>
    </div>

    <div class="instruction-card">
        <img src="~/images/Asset3.png" class="instuction-img">
        <p>After estimating 10 images, a running average of your estimate accuracy will be displayed. Your training will continue for as long as it takes the running average of your last 10 images to reach 98-100% accuracy. At the completion of training you will see your progress displayed in a graph.</p>

    </div>

    <div class="instruction-card">
        <img src="~/images/Asset4.png" class="instuction-img">
        <p>Estimating Tips:<br/>
            When estimating leaf damage, try to mentally divide the leaf into segments (e.g. halves, quarters, eighths etc.) and then visualise all the damage moving to one area of the leaf. This will help determine your estimate percentages.<br/>
            Take note of leaf shape, as it could be easy for edge damage to be overlooked. 
        </p>
        <div class="btn-1" >
            <a id="btnInstructionsExample"> <span>Example here</span></a>
        </div>

    </div>

</div>
<script>
    $('#btnInstructionsExample').click(function() {
        Swal.fire({
            html: '<img src="/images/examples_of_herbivory.png"  width="600" height="600">',
            imageAlt: 'Herbivory trainer example',
            customClass: 'swal-wide-2',
        });
    });


</script>