@model UserGuessSearchModel 

    <script>
    var users = [];
    $(document).ready(function() {
        //DOWNLOAD DATA
        $('#btnDownload').click(function () {
            download_csv(users);
        });

        //INIT TABLE
        buildTable();
    });

        //BUILD TABLE
          function buildTable() {
        var data = @Html.Raw(Json.Serialize(@Model.UserGuessSearchResults));
        users = data;
              var number_of_rows = data.length;
        var number_of_cols = 7;
        var table_body = '<table cellpadding="0" cellspacing="0" border="0">';
        for (var i = 0; i < number_of_rows; i++) {
            table_body += '<tr>';

            table_body += '<td>';
            table_body += data[i].UserId;
            table_body += '</td>';

            table_body += '<td>';
            table_body += data[i].HashUser;
            table_body += '</td>';

            table_body += '<td>';
            table_body += data[i].CreatedUtc;
            table_body += '</td>';

            table_body += '<td>';
            table_body += data[i].RetentionUser;
            table_body += '</td>';

            table_body += '<td>';
            if (data[i].FinishedPhase1Utc !== null)
                table_body += data[i].FinishedPhase1Utc;
            else
                table_body += 'N/A';
            table_body += '</td>';
            
            
            table_body += '<td>';
            if (data[i].TimePhase1 !== null)
                table_body += data[i].TimePhase1;
            else
                table_body += 'N/A';
            table_body += '</td>';
            

            table_body += '<td>';
            if (data[i].PictureCycledPhase1 !== null)
                table_body += data[i].PictureCycledPhase1;
            else
                table_body += 'N/A';
            table_body += '</td>';
            

            table_body += '<td>';
            if (data[i].FinishedUtc !== null)
                table_body += data[i].FinishingPercentPhase1;
            else
                table_body += 'N/A';
            table_body += '</td>';


            //PHASE 2

            table_body += '<td>';
            if (data[i].FinishedPhase2Utc !== null)
                table_body += data[i].FinishedPhase2Utc;
            else
                table_body += 'N/A';
            table_body += '</td>';
                        
            
            table_body += '<td>';
            if (data[i].TimePhase2 !== null)
                table_body += data[i].TimePhase2;
            else
                table_body += 'N/A';
            table_body += '</td>';


            table_body += '<td>';
            if (data[i].PictureCycledPhase2 !== null)
                table_body += data[i].PictureCycledPhase2;
            else
                table_body += 'N/A';
            table_body += '</td>';
            

            table_body += '<td>';
            if (data[i].FinishedUtc !== null)
                table_body += data[i].FinishingPercentPhase2;
            else
                table_body += 'N/A';
            table_body += '</td>';


            //PHASE 3

            table_body += '<td>';
            if (data[i].FinishedPhase3Utc !== null)
                table_body += data[i].FinishedPhase3Utc;
            else
                table_body += 'N/A';
            table_body += '</td>';

            table_body += '<td>';
            if (data[i].TimePhase2 !== null)
                table_body += data[i].TimePhase2;
            else
                table_body += 'N/A';
            table_body += '</td>';

            table_body += '<td>';
            if (data[i].PictureCycledPhase3 !== null)
                table_body += data[i].PictureCycledPhase3;
            else
                table_body += 'N/A';
            table_body += '</td>';


            table_body += '<td>';
            if (data[i].FinishedUtc !== null)
                table_body += data[i].FinishingPercentPhase3;
            else
                table_body += 'N/A';
            table_body += '</td>';


            table_body += '</tr>';
        }
        table_body += '</table>';
        $('.tbl-content').html(table_body);
    }
    </script>

<div class="area">
    <div class="navigation-wrapper">
        <span class="navigation-home">ZAX Herbivory Trainer</span>
    </div>
    <section>
        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>User Id</th>
                        <th>Created UTC</th>
                        <th>Retention User</th>
                        @*PHASE 1*@
                        <th>P1-Finished</th>
                        <th>P1-Time</th>
                        <th>P1-Pictures</th>
                        <th>P1-Finished %</th>
                        @*PHASE 2*@
                    <th>P2-Finished</th>
                    <th>P2-Time</th>
                    <th>P2-Pictures</th>
                    <th>P2-Finished %</th>
                        @*PHASE 3*@
                    <th>P3-Finished</th>
                    <th>P3-Time</th>
                    <th>P3-Pictures</th>
                    <th>P3-Finished %</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="tbl-content">
        </div>
        <div class="button-box">
            <a id="btnDownload" class="myButton">
                DOWNLOAD
            </a>
        </div>
    </section>
</div>

@Html.Partial("_MenubarAdmin")