@model UserGuessSearchModel 

    <script>
    var users = [];
    $(document).ready(function() {
        //DOWNLOAD DATA
        $('#btnDownload').click(function () {
            download_csv(users);
        });

        //INIT TABLE
        buildTable();
    });

        //BUILD TABLE
          function buildTable() {
        var data = @Html.Raw(Json.Serialize(@Model.UserGuessSearchResults));
        users = data;
              var number_of_rows = data.length;
        var number_of_cols = 7;
        var table_body = '<table cellpadding="0" cellspacing="0" border="0">';
        for (var i = 0; i < number_of_rows; i++) {
            table_body += '<tr>';

            table_body += '<td>';
            table_body += data[i].UserId;
            table_body += '</td>';

            table_body += '<td>';
            table_body += data[i].HashUser;
            table_body += '</td>';

            table_body += '<td>';
            table_body += data[i].CreatedUtc;
            table_body += '</td>';

            table_body += '<td>';
            if (data[i].FinishedUtc !== null)
                table_body += data[i].FinishedUtc;
            else
                table_body += 'N/A';
            table_body += '</td>';

            table_body += '<td>';
            if (data[i].FinishedUtc !== null)
                table_body += data[i].Time;
            else
                table_body += 'N/A';
            table_body += '</td>';

            table_body += '<td>';
            if (data[i].FinishedUtc !== null)
                table_body += data[i].PictureCycled;
            else
                table_body += 'N/A';
            table_body += '</td>';

            table_body += '<td>';
            if (data[i].FinishedUtc !== null)
                table_body += data[i].FinishingPercent;
            else
                table_body += 'N/A';
            table_body += '</td>';
            table_body += '</tr>';
        }
        table_body += '</table>';
        $('.tbl-content').html(table_body);
    }
    </script>

<div class="area">
    <div class="navigation-wrapper">
        <span class="navigation-home">ZAX Herbivory Trainer</span>
    </div>
    <section>
        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>User Id</th>
                        <th>Created UTC</th>
                        <th>Finished UTC</th>
                        <th>Time</th>
                        <th>Pictures</th>
                        <th>Finished %</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="tbl-content">
        </div>
        <div class="button-box">
            <a id="btnDownload" class="myButton">
                DOWNLOAD
            </a>
        </div>
    </section>
</div>

@Html.Partial("_Menubar")